<div>
    {{#each products}}
    <li>
        <h3>{{this.title}}</h3>
        <h4>{{this.price}}</h4>
        <button class="addToCart" id={{this._id}}>add to cart</button>
    </li>
    {{/each}}
    {{#if hasPrevPage}}
    <a href={{prevLink}}><button>anterior</button></a>
    {{/if}}
    {{#if hasNextPage}}
    <a href={{nextLink}}><button>siguiente</button></a>
    {{/if}}
</div>
<script src="/js/index.js"></script>