<div>
    <h1>hola {{user.name}}!</h1>
    <h2>edad:{{user.age}}</h2>
    <h2>email:{{user.email}}</h2>
    {{#each products}}
    <li>
        <h3>{{this.title}}</h3>
        <h4>{{this.price}}</h4>
        <button class="addToCart" id={{this._id}}>add to cart</button>
    </li>
    {{/each}}
    {{#if hasPrevPage}}
    <a href={{prevLink}}><button>anterior</button></a>
    {{/if}}
    {{#if hasNextPage}}
    <a href={{nextLink}}><button>siguiente</button></a>
    {{/if}}

    <a href="/api/sessions/logout">salir de mi cuenta</a>
</div>
<script src="/js/index.js"></script>